body {
    font-family: sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
  }
  
  #game-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  #board {
    display: grid;
    background-color: #ccc;
    border: 2px solid #888;
    gap: 5px; /* Add some spacing between cells */
  }
  
  .cell {
    width: 50px;
    height: 50px;
    background-color: #eee;
    border: 1px solid #888;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 30px;
    user-select: none;
  }
  
  .animal {
    width: 40px;
    height: 40px;
  }
  .game-info{
    margin-bottom: 10px;
  }
  